

/*style di elementi fissi*/

body {
  box-sizing: border-box;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  overflow: hidden;
}

.divide {
  border-bottom: var(--border);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  min-height: 15vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  z-index: 10;
}

header .page-head {
  width: calc(100% - 40px);
  height: 7vh;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .page-head .id-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

header .page-head .timer-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

#timer {
  font-size: 1.2rem;
  font-weight: bold;
}

header nav {
  width: calc(100% - 40px);
  height: 8vh;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav button {
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0;
  padding: 10px;
  width: 7rem;
  color: var(--secondary-color);
  border: none;
  background: none;
}

/*==========================================
==========================================*/

main {
  width: 100%;
  margin-top: calc(7vh + 8vh);
  height: calc(var(--vh, 1vh) * 100 - 15vh);
  position: relative;
}

/*==========================================
==========================================*/

.view {
  display: none;
  width: 100%;
  height: 100%;
}

.view.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav button.active {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.active .content {
  width: 100%;
  height: 92%;
}

footer {
  width: 100%;
  height: 8%;
  border-top: var(--border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer button {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--secondary-color);
  -webkit-tap-highlight-color: transparent; /* iOS / Safari */
  -webkit-touch-callout: none; /* menu copia/incolla */
  user-select: none; /* niente selezione testo */
  touch-action: manipulation;
}

footer button:focus {
    outline: none;
}
footer button:active {
    background: none;
}