/*==============================================*/
/*=================== MORE ABOUT - ALIGN ===========================*/
/*==============================================*/

/*============== personal overlay =====================*/
.more-about .upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

/*==============================================*/

.more-about .upper-content-wrap .recap-lock-content {
  padding: var(--padding-vertical);
  width: var(--width);
  height: calc(100% - 40%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-about .upper-content-wrap button {
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 0;
  color: var(--secondary-color);
  border: none;
  background: none;
  position: absolute;
  z-index: 500;
}

.more-about .upper-content-wrap .view-score {
  height: 20%;
  width: 100%;
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-size: 9.4cqh;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: relative;
}

.more-about .upper-content-wrap .recap-lock-content .view-graphic {
  height: 75%;
  position: relative;
}

.more-about .upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  right: 0;
  position: relative;
}

.more-about .upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap .holder {
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
}

.more-about .upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap .holder span {
  height: 100%;
  width: 100%;
}


.more-about .upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.more-about .graphic-wrap .ext span svg {
  height: 100%;
  width: 100%;
}

.more-about .graphic-wrap .int span svg {
  width: 70%;
  height: 70%;
}

/*==============================================*/

.more-about .subsection .comment-overlay-section-wrap {
  width: 100%;
  height: 40%;
  border-top: var(--border);
}

.more-about .comment-overlay-section-wrap .comment-content {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  letter-spacing: -3%;
  line-height: 1;
}
