.overlay-align {
  position: fixed;
  inset: 0;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay-align.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* contenuto */
.overlay-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 21vh);

  background: #f0f0f0;
  padding: 24px;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
