.overlay {
  position: fixed;
  inset: 0;
  z-index: 1999;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: none;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  z-index: 2000;

  width: var(--width);
  height: 70vh;

  background: var(--primary-color);

  display: flex;
}

.overlay-content .content {
  padding: var(--padding-vertical);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;

  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 1.2rem;
}

.overlay-content button {
  width: 44px;
  aspect-ratio: 1 / 1;
  border-radius: 0;
  color: var(--primary-color);
  border: none;
  background: var(--secondary-color);
  cursor: pointer;
}
