.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

/*==============================================*/

.content .recap-lock-content {
  width: 100%;
  height: calc(100% - 20vh);
}

.content .recap-lock-content .recap-graphic {
  width: var(--width);
  padding: var(--padding);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
}

.content .recap-lock-content .recap-graphic span {
  height: 3.6rem;
  width: 3.6rem;
}

.content .recap-lock-content .recap-graphic span svg {
  height: 100%;
  width: 100%;
}

.content .recap-lock-content .recap-text {
    width: 90%;
    text-align: center;
    font-weight: 400;
    letter-spacing: -3%;
    font-size: 1.4rem;
    line-height: 1;
}

.specifics-recap {
  font-size: 0.9rem;
  text-align: justify;
}

/*==============================================*/
.content .timer-section-wrap {
  width: 100%;
  height: 20vh;
  border-top: var(--border);
}
.timer-section-wrap .timer-content {
  width: calc(100% - 40px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: end;
  gap: 8px;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -3%;
  line-height: 1;
}

.timer-section-wrap #timer {
  font-size: 2.8rem;
  font-weight: bold;
}

/*==============================================*/

#recap-lock button a {
  opacity: 0.4;
}
