.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*==============================================*/

.content .recap-unlock-content {
  width: 100%;
  height: 44%;

}

.content .recap-unlock-content .time-change-wrap {
  width: var(--width);
  padding: var(--padding-vertical);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  gap: 24px;
  position: relative;
}

.time-change-wrap .name-tag {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#system-time,
#new-time {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 0.84;
}

#system-time {
 font-size: 2.4rem; 
}
#new-time {
  font-size: 7.2rem
}

/*==============================================*/
.content .timer-section-wrap {
  width: 100%;
  height: calc(100% - 44%);
  border-top: var(--border);
}
.timer-section-wrap .timer-content {
  width: calc(100% - 40px);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -3%;
  line-height: 1;
}

.timer-section-wrap #timer {
  font-size: 2.4rem;
  font-weight: bold;
}
