.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*==============================================*/

.content .recap-unlock-content {
  width: 100%;
  height: 44%;
}

.content .recap-unlock-content .time-change-wrap {
  width: var(--width);
  padding: var(--padding-vertical);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  gap: 24px;
  position: relative;
}

.number-wrap {
  display: flex;
  flex-direction: column;

}

.name-tag {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.number-small {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 0.84;
  font-size: 2.4rem;
}

.number-big {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 0.84;
  font-size: 5.4rem;
}

.number-medium {
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  line-height: 0.84;
  font-size: 5.4rem;
}


/*==============================================*/
.content .final-score-wrap {
  width: 100%;
  height: calc(100% - 44%);
  border-top: var(--border);
}
.final-score-wrap .final-score-content {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: var(--padding-vertical);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -3%;
  line-height: 1;
}

.final-score-content .final-score-half {
  height: 48%;
}

/*==============================================*/

.graphics-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.graphics-inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  border-radius: none;
  background: none;
  border: none;
}

.graphics-inner-wrap svg {
  width: 54%;
}