/*==============================================*/
/*=================== OVERLAY PAGINA ALIGN ===========================*/
/*==============================================*/

/*============== personal overlay =====================*/
.upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

/*==============================================*/

.upper-content-wrap .recap-lock-content {
  padding: var(--padding-vertical);
  width: var(--width);
  height: calc(100% - 40%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-content-wrap button {
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 0;
  color: var(--secondary-color);
  border: none;
  background: none;
  position: absolute;
  z-index: 500;
}

.upper-content-wrap .view-score {
  height: 20%;
  width: 100%;
  text-transform: uppercase;
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  font-size: 9.4cqh;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: relative;
}

.upper-content-wrap .recap-lock-content .view-graphic {
  height: 75%;
  position: relative;
}

.upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  right: 0;
  position: relative;
}

.upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap .holder {
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
}

.upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap .holder span {
  height: 100%;
  width: 100%;
}


.upper-content-wrap .recap-lock-content .view-graphic .graphic-wrap svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graphic-wrap .ext span svg {
  height: 100%;
  width: 100%;
}

.graphic-wrap .int span svg {
  width: 70%;
  height: 70%;
}

/*==============================================*/

.subsection .comment-overlay-section-wrap {
  width: 100%;
  height: 40%;
  border-top: var(--border);
}

.comment-overlay-section-wrap .comment-content {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  letter-spacing: -3%;
  line-height: 1;
}

/*==============================================*/

.view.move-in-side {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.view.move-in-side.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.6s ease-out, opacity 0.3s ease-out;
}

.view.move-in-side.exit-right {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.3s ease-out;
}






/*==============================================*/
/*=================== OVERLAY PAGINA WORLD ===========================*/
/*==============================================*/

/*============== personal overlay =====================*/
.upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/*==============================================*/

.upper-content-wrap .rank-header-content {
  padding: var(--padding-vertical);
  width: var(--width);
  height: 5%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;

  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  letter-spacing: -3%;
  line-height: 1;
}

.upper-content-wrap button {
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 0;
  color: var(--secondary-color);
  border: none;
  background: none;
}

/*==============================================*/

/*==============================================*/
#world-rank-overlay .rank-section-wrap {
  width: 100%;
  height: calc(100% - 15%);
  border-top: var(--border);
  margin-bottom: 15%;
}

#world-rank-overlay .rank-section-wrap .rank-content {
  width: calc(100% - 40px);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -3%;
  line-height: 1;
  overflow: auto; /* o scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}

#world-rank-overlay .rank-content::-webkit-scrollbar {
  display: none;
}

#world-rank-overlay .rank-content .line-ranking {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#world-rank-overlay .line-ranking .name-position {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  width: 74%;
}

#world-rank-overlay .name-position .rank-position {
  font-size: 0.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

#world-rank-overlay .name-position .country-name {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#world-rank-overlay .country-rank-score {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

/*==============================================*/
/*=================== OVERLAY PAGINA RECAP UNLOCK ===========================*/
/*==============================================*/

/*============== overlay =====================*/
.upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/*==============================================*/

#final-vote-overlay .upper-content-wrap .rank-header-content {
  padding: var(--padding-vertical);
  width: var(--width);
  height: 5%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;

  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  letter-spacing: -3%;
  line-height: 1;
}

#final-vote-overlay .upper-content-wrap button {
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 0;
  color: var(--secondary-color);
  border: none;
  background: none;
}

/*==============================================*/

/*==============================================*/
#final-vote-overlay .rank-section-wrap {
  width: 100%;
  height: calc(100% - 15%);
  border-top: var(--border);
  margin-bottom: 15%;
}

#final-vote-overlay .rank-section-wrap .rank-content {
  width: calc(100% - 40px);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -3%;
  line-height: 1;
  overflow: auto; /* o scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}

#final-vote-overlay .rank-content::-webkit-scrollbar {
  display: none;
}

#final-vote-overlay .rank-content .line-ranking {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#final-vote-overlay .hour-of-day {
  font-size: 1.2rem;
  letter-spacing: -3%;
  font-weight: 500;
}

#final-vote-overlay .activity-chosen {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
  white-space: nowrap;
}
