#world .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*==============================================*/

.content .visual-map-content {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*==============================================*/
.content .rank-section-wrap {
  width: 100%;
  height: calc(100% - 40%);
  border-top: var(--border);
}
.rank-section-wrap .rank-content {
  width: calc(100% - 40px);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -3%;
  line-height: 1;
    overflow: auto;          /* o scroll */
  scrollbar-width: none;   /* Firefox */
  -ms-overflow-style: none;/* IE / Edge legacy */
}

.rank-content::-webkit-scrollbar {
    display: none;          
}

.rank-content .line-ranking {
    width: 100%;
    padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.line-ranking .name-position {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  width: 74%;
}

.name-position .rank-position {
  font-size: 0.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

.name-position .country-name {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.country-rank-score {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

.rank-content button {
    margin: 24px 0px;
    background: none;
    border: none;
}
