/* ===========================
   WORLD SECTION
=========================== */

#world {
  height: 100%;
  overflow: hidden; /* blocca scroll esterno */
}

#world .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  overflow: hidden; /* blocca scroll */
}

/*==============================================*/

.content .visual-map-content {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.content .visual-map-content span {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.content .visual-map-content span svg {
  height: 100%;
  width: 100%;
}

/*==============================================*/

.content .rank-section-wrap {
  width: 100%;
  height: calc(100% - 40%);
  border-top: var(--border);
  overflow: hidden; /* blocca scroll */
}

.content .rank-section-wrap .winner-country-wrap {
  height: 20%;
  padding: var(--padding);
  width: var(--width);
}

.content .rank-section-wrap .winner-country-wrap .winner-country-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 12px;
}

.winner-country-content .winner-tag {
  font-family: "helvetica-neue-lt-pro-cond", sans-serif;
  text-transform: uppercase;
}

#winner-country {
  font-weight: 700;
  font-size: 9cqh;
  letter-spacing: -3%;
}

/*=============== MARQUEE ===============*/

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.track {
  display: inline-flex;
  align-items: center;
  will-change: transform;
}

.track span {
  padding-right: 3rem;
  white-space: nowrap;
}

/*=============== RANK CONTENT ===============*/

.content .rank-section-wrap {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0; /* importante */
  display: flex;
  flex-direction: column;
  border-top: var(--border);
  overflow: hidden;
}

/*=============== RANK CONTENT ===============*/

.rank-section-wrap .rank-content {
 flex: 1 1 auto;
  min-height: 0;       /* fondamentale per scroll */
  width: calc(100% - 48px);
  padding: var(--padding);
  padding-bottom: 64px; /* evita taglio ultimo elemento */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -3%;
  line-height: 1;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rank-content::-webkit-scrollbar {
  display: none;               /* Chrome / Safari */
}

.rank-content {
  -webkit-overflow-scrolling: touch;
}

.rank-content .line-ranking {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.line-ranking .name-position {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  width: 74%;
}

.name-position .rank-position {
  font-size: 0.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

.name-position .country-name {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.country-rank-score {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

.rank-section-wrap .button-container {
  width: var(--width);
  height: 44px;
  padding: var(--padding);
  border-top: var(--border);
}

.rank-section-wrap button {
  height: 100%;
  background: none;
  border: none;
}

/* ===========================
   FOOTER
=========================== */

#world footer {
  overflow: hidden; /* impedisce scroll footer */
}
