/*==============================================*/
/*=================== OVERLAY PAGINA WORLD ===========================*/
/*==============================================*/

/*============== personal overlay =====================*/
#world-rank-overlay .upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

/*==============================================*/

#world-rank-overlay .upper-content-wrap .rank-header-content {
  padding: var(--padding-vertical);
  width: var(--width);
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

#world-rank-overlay .upper-content-wrap button {
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 0;
  color: var(--secondary-color);
  background: none;
  border: none;
  position: relative;
}

#world-rank-overlay .upper-content-wrap .header-text {
  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  letter-spacing: -3%;
  line-height: 1;
  position: relative;
}

/*==============================================*/
#world-rank-overlay .rank-section-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(
    100%
  ); /* lascia un margine per header, se vuoi usa auto */
  border-top: var(--border);
}

#world-rank-overlay .rank-section-wrap .rank-content {
  flex: 1; /* occupa tutto lo spazio disponibile */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* scroll verticale */
  padding: var(--padding);
  width: calc(100% - 40px);
  height: calc(100%);
  align-items: left;
  justify-content: start;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -3%;
  line-height: 1;
  overflow: auto; /* o scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}

#world-rank-overlay .rank-content::-webkit-scrollbar {
  display: none;
}

#world-rank-overlay .rank-content .line-ranking {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

#world-rank-overlay .line-ranking .name-position {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  width: 74%;
  height: fit-content;
}

#world-rank-overlay .name-position .rank-position {
  font-size: 0.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

#world-rank-overlay .name-position .country-name {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#world-rank-overlay .country-rank-score {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

/*==============================================*/
#world-rank-overlay .upper-content-wrap .search-wrap {
  height: 15%;
  padding: var(--padding);
  width: var(--width);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#world-rank-overlay .upper-content-wrap .search-wrap input {
  border: var(--border);
  border-radius: 0;
  width: 80%;
  height: 44px;
  color: var(--secondary-color);
}

#world-rank-overlay .upper-content-wrap .search-wrap input::placeholder {
  text-indent: 4px;
}

#world-rank-overlay .upper-content-wrap .search-wrap button {
  height: 44px;
  aspect-ratio: 1;
  border: var(--border);
  color: var(--secondary-color);
}

/*===========================================*/

.searched {
 background: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

/* Stato base */
.name-position {
  background-color: transparent; /* stato iniziale */
  transition: background-color 0.5s ease; /* fallback transizione */
}

/* Animazione flash */
@keyframes highlightFlash {
  0%   { background-color: grey; }
  70%  { background-color: grey; }
  100% { background-color: transparent; }
}

.name-position.flash {
  animation: highlightFlash 2s ease forwards;
}


#world-rank-overlay .svg-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#world-rank-overlay svg {
  height: 50%;
  width: 50%;

}