/*==============================================*/
/*=================== OVERLAY PAGINA WORLD ===========================*/
/*==============================================*/

/*============== personal overlay =====================*/
#world-rank-overlay .upper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/*==============================================*/

#world-rank-overlay .upper-content-wrap .rank-header-content {
  padding: var(--padding-vertical);
  width: var(--width);
  height: 5%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

#world-rank-overlay .upper-content-wrap button {
  width: 44px;
  aspect-ratio: 1/1;
  border-radius: 0;
  color: var(--secondary-color);
  background: none;
  border: none;
  position: relative;
}

#world-rank-overlay .upper-content-wrap .header-text {
  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  letter-spacing: -3%;
  line-height: 1;
  position: relative;
}



/*==============================================*/
#world-rank-overlay .rank-section-wrap {
  width: 100%;
  height: calc(100% - 15% - 5%);
  border-top: var(--border);
  margin-bottom: 15%;
}

#world-rank-overlay .rank-section-wrap .rank-content {
  width: calc(100% - 40px);
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  padding: var(--padding);
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: -3%;
  line-height: 1;
  overflow: auto; /* o scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}

#world-rank-overlay .rank-content::-webkit-scrollbar {
  display: none;
}

#world-rank-overlay .rank-content .line-ranking {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#world-rank-overlay .line-ranking .name-position {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  width: 74%;
}

#world-rank-overlay .name-position .rank-position {
  font-size: 0.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

#world-rank-overlay .name-position .country-name {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#world-rank-overlay .country-rank-score {
  font-size: 1.8rem;
  letter-spacing: -3%;
  font-weight: 500;
}

/*==============================================*/
#world-rank-overlay .upper-content-wrap .search-wrap {
  height: 15%;
  padding: var(--padding);
  width: var(--width);
  position: relative;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0.3;
  
}
#world-rank-overlay .upper-content-wrap .search-wrap input {
  border: var(--border);
  border-radius: 0;
  width: 80%;
  height: 44px;
  background: var(--secondary-color);
}
#world-rank-overlay .upper-content-wrap .search-wrap button {
  height: 44px;
  aspect-ratio: 1;
  border: var(--border);
  background: var(--secondary-color);
  color: var(--primary-color);
}
